body {
    padding:0px;
    margin:0px;
}
.positioning-container {
  
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.calculator {
    
    width: 30%;
    
    background-color: blue;
}
#display {
    display: flex;
    justify-content: center;
    text-align: center;
}

#buttons {
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    display: grid;
    grid-gap: 0px;
   
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;
    
}

.grid-container {
    
}
button {
    margin: 0px !important;
    
    border: 0.5px solid black;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid black;
    padding: 15px;
}

#AC {
    grid-column: 1/3;

}

#equals {
    grid-column: 4;
    grid-row: 4/6;
}

#zero {
    grid-row: 5;
    grid-column: 1/3;
}